# Virtual Environments
venv/
.venv/
env/
.env/

# Byte-compiled / optimized / DLL files
__pycache__/

# Docker
src/reviews_data/

# vscode 설정 파일
.vscode/

# --- Other ---
# 로그 파일
*.log
# mysql
mysql_data/

# db
config.py

reviewanalyzer-key.pem
reviewanalyzer-key-01.pem
reviewanalyzer-nks_kubeconfig.yaml
reviewanalyzer-db-key-01.pem